@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet') *, *::before, *::after {
    margin: 0px;
    padding: 0px;
    border: none;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    width: 100vw;
    margin: 0px;
    padding: 0px;
}

pre {
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 4px;
    padding-left: 5%;
}

.intro {
    margin-top: 30px;
}

.intro__title {
    text-align: center;
    font-size: 30px;
}

.intro__text {
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
}

.text {
    color: white;
}

.title {
    color: white;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}

.poetry {
    margin-top: 20px;
}

.poet_image {
    text-align: center;
    padding: 20px 0 0 0;
}

.poet_image img {
    max-width: 336px;
    height: 350px;
}

.poet-intro__text {
    text-align: center;
    padding-right: 50px;
}

.poet-intro__wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poet-info__icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
    padding-top: 15px;
    padding-right: 10px;
}

.poet__tg img {
    width: 25px;
    height: 25px;
}

.title {
    background: #000;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 0;
    padding: 10px;
}

.text {
    overflow: hidden;
    height: 0;
    transition: 0.2s ease-in-out;
    font-size: 18px;
}

.pieces {
    padding: 0 50px 0 50px;
}

.active__list {
    height: 100%;
}

.footer__poetry {
    margin-top: 20px;
}

.intro__text__poetry {
    line-height: 24px;
    margin-top: 15px;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}